<h1>Restaurants#index</h1>

<!-- index means to show all of this -->
<hr>
<br>
<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone_number %></p>
  <p><%= restaurant.category %></p>
<hr>
<% end %>
<hr />
<%= link_to "create new restaurant", new_restaurant_path %>
<hr>
